@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=sora:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'sora', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.cursiveFont {
  font-family: 'Akaya Telivigala';
}

.swiper-slide {
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
